@themeType: DARK;
@body-background: #21242a;
@scroll-thumb-color: #383b42;
@border-color-base: #383b42;
@border-color-split: #383b42;
@primary-color: #2e73a3;
@text-color: #c0c0c6;
@error-color: #ff2f5f;
@success-color: #4fb75f;
@info-color: #4691c7;
@highlight-color: #ff2f5f;
@disabled-color: rgba(33, 36, 42, 0.5);
@warning-color: #ebbd3d;
@white-color: #c0c0c6;
@black-color: #000;
@label-color: #212529;
@input-border-color: #383b42;
@select-border-color: #383b42;
@text-display-color: #000000;
@text-heading-color: #1f2633;
@text-sub-heading-color: #98a2b2;
@text-body-color: #606c80;
@text-sub-body-color: #e9ebf0;
@link-color: #1f2633;
@link-hover-color: #3b82f6;
@link-active-color: #000000;
@header-background: #121212;
@component-background: #121212;
@component-sub-background: #212529;
@popover-background: #c0c0c6;
@box-shadow-base: 0px 4px 15px rgba(25, 62, 88, 0.15);
@rf-border-color: #e9ebf0;
@rf-tabs-background: #e9ebf0;
@rf-tabs-active-background: #4691c7;
@rf-tabs-hover-background: #383b42;
@heading-font-family: system-ui;
@border-radius-base: 4px;
@modal-header-height: 40px;
@active: #3b82f6;
@passed: #7db2d5;
@btn-font-size-sm: 13px;
@height-base: 32px;
@height-lg: 40px;
@height-sm: 28px;
@form-item-margin-bottom: 15px;
@error-page-header-color: #ff4040;
@error-page-color: #193e58;
@form-vertical-label-padding: 0 0 4px;
@ui-helper-zindex: 100;
@ui-drag-zindex: 500;
@ui-header-zindex: 900;
@ui-max-zindex: 9999;
